$primary-color: #007bff;
$secondary-color: #6c757d;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

}

body {
    font-family: "Roboto", sans-serif;

    font-style: normal;
    background-color: #000216;
}

main {
    background-color: transparent;
}

header {
    color: #e6e6ff;
    padding: 1rem 0;
    height: 20vh;
    background-image: url(../images/header1.png);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
    text-shadow: 2px 4px 4px #c4cbfc;

    h1 {
        font-size: 3rem;
    }
}

.card {
    transition: transform ease 0.3s;
    width: 200px;
    border: 1px solid #fdfffe;
    background-color: transparent;
    color: #fdfffe;

    &:hover {
        box-shadow: 8px 5px 5px #434766;
        transform: scale(1.02);

    }

    button {
        font-weight: 600;
        background-color: transparent;
        color: #fdfffe;
        width: 8rem;
        border: 1px solid #fdfffe;

        &:hover {
            background-color: #ffffff;
            color: #000216;
            border: 1px solid #fdfffe;
        }
    }
}

.card-img-top {
    width: 100%;
    height: 110px;
    /* Ajuste conforme necessário */
    object-fit: cover;
    /* Mantém a proporção das imagens */
    object-position: center;
    /* Centraliza a imagem */
}

.modal-content {
    background-color: #080a1f;
    color: white;
    width: 100%;
    height: auto;



    #video-player {
        width: 100%;

    }
}